{{/*
  AbstractIcon partial
  Dynamically loads a MineKot icon based on name and size.

  @param {string} name - The filename of the icon (without extension or size suffix).
  @param {int} [size=16] - The size variant of the icon (e.g., 16, 24).

  @example
  {{ partial "icons/AbstractIcon.html" (dict "name" "github" "size" 24) }}
*/}}
{{- $name := .name -}}
{{- $size := .size | default 16 -}}
{{- $path := printf "/images/%s.svg" $name -}}
<span class="minekot-icon" style="display: inline-flex; width: {{ $size }}px; height: {{ $size }}px;">
  <img src="{{- $path -}}" alt="{{- $name -}}" style="width: {{ $size }}px; height: {{ $size }}px;">
</span>
