<div id="minekot_footer" style="
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 8px;
">
    {{ partial "icons/AbstractIcon.html" (dict "name" "logo-flat" "size" 32) }}MineKot
</div>
<script>
    (function () {
        const replacement = document.getElementById('minekot_footer');
        const observer = new MutationObserver(function (mutations, obs) {
            const link = document.querySelector('a[href="https://github.com/imfing/hextra"]');
            if (link) {
                link.replaceWith(replacement);
                replacement.parentElement.parentElement.parentElement.classList.add('minekot-footer-global');
                obs.disconnect();
            }
        });

        observer.observe(document.documentElement, {
            childList: true,
            subtree: true
        });
    })();
</script>
