<div id="minekot-docs-footer">
  <div class="minekot-docs-footer-content">
    <div id="minekot-docs-footer-logo-container">
      <img id="minekot-docs-footer-logo" src="/images/minekot-flat.svg" type="image/svg+xml"></img>
      <div id="minekot-docs-footer-logo-text">MineKot</div>
    </div>
    <div class="minekot-docs-footer-separator default-animation"></div>
      {{/*

      <div id="spacer-1" class="minekot-docs-footer-spacer"></div>
      <div class="minekot-docs-footer-column">
        <div class="minekot-docs-footer-column-header">
          <div class="minekot-docs-footer-column-title">Links
            <div class="minekot-docs-footer-column-separator"></div>
          </div>
        </div>
        <div class="minekot-docs-footer-column-links">
          <a class="minekot-docs-github-link" href="https://github.com/MineKotLang">
            <i class="fa-brands fa-github"></i> GitHub
          </a>
          <a class="minekot-docs-discord-link" href="https://discord.minekot.org">
            <i class="fa-brands fa-discord"></i> Discord
          </a>
        </div>
      </div>
      <div class="minekot-docs-footer-column">
        <div class="minekot-docs-footer-column-header">
          <div class="minekot-docs-footer-column-title">Resources
            <div class="minekot-docs-footer-column-separator"></div>
          </div>
        </div>
        <div class="minekot-docs-footer-column-links">
          <a href="/ChangeMe">
            <i class="fa-solid fa-book"></i> Resource1
          </a>
          <a href="/ChangeMe">
            <i class="fa-solid fa-rss"></i> Resource2
          </a>
          <a href="/ChangeMe">
            <i class="fa-solid fa-code"></i> Resource3
          </a>
        </div>
      </div>
      <div id="spacer-2" class="minekot-docs-footer-spacer"></div>

      */}}
  </div>
</div>
